<div class="sidebar-execute">
    <a class="logo d-flex align-items-center" routerLink="/" (click)="closeSubMenus()" *ngIf="settings.theme.sidebarIsFixed">
        <img src="assets/img/logo.png" width="24"> &nbsp; <span class="start">PVT Automation Tool</span>
    </a>
    <div class="col-xl-12 col-md-12 col-12 section-buffer">
        <p>&nbsp;</p>
    </div>
    <!--<div class="col-12 text-center section-buffer">
        <h2 class="font-medium">Ready?</h2>
        <h6>Let's create a project to begin</h6>
        <a class="btn btn-blue" href="/pages/projects" [routerLink]="['/pages/projects']">Create</a>
    </div>-->
</div>