<div class="row">
    <div class="col-lg-12 col-12">
        <h2>Test Status</h2>
        <div class="table-responsive">
            <table class="table">
                <thead style="background-color:#f2f2f2;font-size: 1.25rem;
              color: #333;">
                    <tr>
                        <th>#</th>
                        <th>Device</th>
                        <th>Test</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>iPhone 7</td>
                        <td>stream ppv</td>
                        <td>Running</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Galaxy S8</td>
                        <td>stream ppv</td>
                        <td>4 Errors</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>LG V30</td>
                        <td>stream ppv</td>
                        <td>Running</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Google Pixl</td>
                        <td>stream ppv</td>
                        <td>Passed</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row tabs-results">
    <div class="col-lg-12 col-12">
        <tabset>
            <tab heading="Static title">Static content</tab>
            <tab *ngFor="let tabz of tabsdata" [heading]="tabz.title">
                {{tabz?.content}}
            </tab>
        </tabset>
    </div>
</div>