<div class="row">
    <div class="col-lg-12 col-12">
        <h2>Project Results > <b>{{projectName}}</b></h2>
        <br/>
        <h4>
        </h4>
        <div class="table-responsive">
            <table class="col-12">
              <tr>
                <td>
                    Timestamp
                </td>
                <td>
                    {{testRuns}}
                </td>
                <td>
                    Test Runs
                </td>
                <td>
                    {{passCount}}
                </td>
                <td>
                    Pass
                </td>
              </tr>
              <tr>
                <td>
                    {{createTime}}
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    {{failCount}}
                </td>
                <td>
                    Fail
                </td>
              </tr>
            </table>
            <br/>
            <br/>
            <table class="table">
                <thead style="background-color:#f2f2f2;font-size: 1.25rem;
              color: #333;">
                    <tr>
                        <th *ngFor="let hdr of testCases; let i = index">{{hdr.testCaseName}}</th>
                    </tr>
                </thead>
                <tbody *ngFor="let row of devicesList">
                  <tr (click) ="onClickRow(row.Device)">
                    <td *ngFor="let column of testCases">
                      <div *ngIf = "row[column.testCaseName] === 'PASS' && (column.testCaseName != 'Device' && column.testCaseName != 'Site')">
                        <i class = "fa fa-check" style="color:green;"></i>
                      </div>
                      <div *ngIf = "row[column.testCaseName] !== 'PASS'  && (column.testCaseName != 'Device' && column.testCaseName != 'Site')">
                        <i class = "fa fa-circle" style="color:red;"></i>
                      </div>
                      <div *ngIf = "(column.testCaseName == 'Device' || column.testCaseName == 'Site')">
                        {{row[column.testCaseName]}}
                      </div>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf = "selectedRow" class="row tabs-results" >
    <div class="col-lg-12 col-12">
        <tabset>
            <tab *ngFor="let tabz of testCases | slice:2" [heading]="tabz.testCaseName">
                {{tabz?.errorMessage}}
            </tab>
        </tabset>
    </div>
</div>
