.nav-tabs {
    font-size: 1.5rem;
    border: none;
}

.tab-content {
    font-size: 1rem;
    background-color: #f2f2f2 !important;
    font-family: Courier New, Courier, monospace;
    border-color: #f2f2f2 !important
}

.nav-link {
    font-size: 1rem;
    font-family: Omnes-ATT-W02-Medium;
    text-transform: capitalize;
    border-color: #f2f2f2 !important;
    color: #333;
    &.active {
        background-color: #F2f2f2 !important;
        border-color: #f2f2f2 !important
    }
}