<div class="row tabs-results">
    <div class="col-lg-12 col-12">
        <div class="clearfix">
            <ul class="nav nav-tabs custom top">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#ta">Test 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tb">Test 2</a>
                </li>
            </ul>
        </div>
        <div class="tab-content top">
            <div class="tab-pane active" id="ta">
                <p>
                    <code>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</code>
                </p>
            </div>
            <div class="tab-pane" id="tb">
                <p>
                    <code>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</code>
                </p>
            </div>
        </div>
    </div>
</div>