.tabs-results {
    .nav-tabs {
        font-size: 1.5rem;
    }
    .tab-content {
        font-size: 1rem;
        background-color: #f2f2f2 !important;
        font-family: Courier New, Courier, monospace;
        border-color: #e4e4e4 !important
    }
    .nav-item {
        font-size: 1rem;
        text-transform: capitalize;
        &.active {
            background-color: #F2f2f2 !important;
            border-color: #e4e4e4 !important
        }
    }
}