@font-face {
    font-family: Omnes-ATT-W02;
    src: url(/assets/fonts/Omnes_ATTW02.woff2) format("woff2"), url(/assets/fonts/Omnes_ATTW02.woff) format("woff"), url(/assets/fonts/Omnes_ATTW02.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Omnes-ATT-W02-Medium;
    src: url(/assets/fonts/Omnes_ATTW02Medium.woff2) format("woff2"), url(/assets/fonts/Omnes_ATTW02Medium.woff) format("woff"), url(/assets/fonts/Omnes_ATTW02Medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Omnes-ATT-W02-Italic;
    src: url(/assets/fonts/Omnes_ATTW02Italic.woff2) format("woff2"), url(/assets/fonts/Omnes_ATTW02Italic.woff) format("woff"), url(/assets/fonts/Omnes_ATTW02Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Omnes-ATT-W02-Light;
    src: url(/assets/fonts/Omnes_ATTW02Light.woff2) format("woff2"), url(/assets/fonts/Omnes_ATTW02Light.woff) format("woff"), url(/assets/fonts/Omnes_ATTW02Light.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Omnes-ATT-W02-Bold;
    src: url(/assets/fonts/Omnes_ATTW02Bold.woff2) format("woff2"), url(/assets/fonts/Omnes_ATTW02Bold.woff) format("woff"), url(/assets/fonts/Omnes_ATTW02Bold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Omnes-ATT-W02-Light-Italic;
    src: url(/assets/fonts/Omnes_ATTW02LightItalic.woff2) format("woff2"), url(/assets/fonts/Omnes_ATTW02LightItalic.woff) format("woff"), url(/assets/fonts/Omnes_ATTW02LightItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Omnes-ATT-W02-Medium-Italic;
    src: url(/assets/fonts/Omnes_ATTW02MediumItalic.woff2) format("woff2"), url(/assets/fonts/Omnes_ATTW02MediumItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Omnes-ATT-W02-Bold-Italic;
    src: url(/assets/fonts/Omnes_ATTW02BoldItalic.woff2) format("woff2"), url(/assets/fonts/Omnes_ATTW02BoldItalic.woff) format("woff"), url(/assets/fonts/Omnes_ATTW02BoldItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.font-medium {
    font-family: Omnes-ATT-W02-Medium !important
}

.font-medium-italic {
    font-family: Omnes-ATT-W02-Medium-Italic !important
}

.font-bold {
    font-family: Omnes-ATT-W02-Bold !important
}

.font-bold-italic {
    font-family: Omnes-ATT-W02-Bold-Italic !important
}

.font-italic {
    font-family: Omnes-ATT-W02-Italic !important
}

.font-light {
    font-family: Omnes-ATT-W02-Light !important
}