/**** General ****/

$top-navbar-height: 46px;
$horizontal-menu-height: 38px;
$horizontal-compact-menu-height: 52px;
$horizontal-mini-menu-height: 46px;
$font-family: "Segoe UI",
Tahoma,
sans-serif;
$font-default-size:12px;
$logo-font: 'Omnes-ATT-W02',
Tahoma,
sans-serif;
$button-font: 'Omnes-ATT-W02-Medium',
Tahoma,
sans-serif;
$top-navbar-height: 46px;
$top-navbar-bg-color:#000;
$sidebar-width: 250px;
$sidebar-compact-width: 160px;
$sidebar-mini-width: 70px;
$chat-person-search-media-height: 32px;
$chat-window-header-height: 30px;
$chat-window-footer-height: 46px;
$footer-height: 28px;
//AT&T corporate colors
$att_blue: #0574ac;
$att_blue_dk: #0c2577;
$att_blue_hilite: #44c8f5;
$att_burgundy: #b30a3c;
$att_gray: #666;
$att_gray_dk: #333;
$att_gray_hilite: #f2f2f2;
$att_green: #4ca90c;
$att_green_dk: #1b7e28;
$att_green_hilite: #c4d82d;
$att_magenta: #da0081;
$att_orange: #ef6f00;
$att_orange_hilite: #fcb314;
$att_purple: #81017e;