/*custom font*/

.breadcrumb {
    /*centering*/
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 0.5rem;
}

.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    color: white;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0 10px 0 30px;
    background: #666;
    position: relative;
}


/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/

.breadcrumb a:first-child {
    padding-left: 46px;
    border-radius: 5px 0 0 5px;
    /*to match with the parent's radius*/
}

.breadcrumb a:first-child:before {
    left: 14px;
}

.breadcrumb a:last-child {
    border-radius: 0 5px 5px 0;
    /*this was to prevent glitches on hover*/
    padding-right: 20px;
}


/*hover/active styles*/

.breadcrumb a.active,
.breadcrumb a:hover {
    background: #333;
    background: linear-gradient(#333, #000);
}

.breadcrumb a.active:after,
.breadcrumb a:hover:after {
    background: #333;
    background: linear-gradient(135deg, #333, #000);
}


/*adding the arrows for the breadcrumbs using rotated pseudo elements*/

.breadcrumb a:after {
    content: "";
    position: absolute;
    top: 0;
    right: -18px;
    width: 36px;
    height: 36px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background: #e4e4e4;
    background: linear-gradient(135deg, #666, #333);
    box-shadow: 2px -2px 0 2px #fff, 3px -3px 0 2px #fff;
    border-radius: 0 5px 0 50px;
}


/*we dont need an arrow after the last link*/

.breadcrumb a:last-child:after {
    content: none;
}

.breadcrumb a:first-child {
    padding-left: 20px
}


/*we will use the :before element to show numbers*/

.breadcrumb a:before {
    /*some styles now*/
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    font-weight: bold;
}

.flat a,
.flat a:after {
    background: #e4e4e4;
    color: black;
    transition: all 0.5s;
}

.flat a:before {
    background: white;
}

.flat a:hover,
.flat a.active,
.flat a:hover:after,
.flat a.active:after {
    background: #4ca90c;
    color: #fff;
}

.progress {
    margin-bottom: 20px
}

.progress .progress-bar {
    background: #4ca90c;
    height: 2px;
}

.wizardFlow h4 {
    margin-top: 10px;
}

.wizardFlow h2 {
    margin-top: 20px;
}

.wizardFlow .custom-checkbox {
    float: left;
}

.wizardFoot .p2 {
    width: 180px;
}

.wizardFoot {
    bottom: 10px;
    position: fixed;
    width: 73%;
}

.app.combined .wizardFoot .btn-gray {
    background-color: #f2f2f2;
    color: #333;
}

.app.combined .wizardFoot .btn {
    border-radius: 5px;
    border-width: 1px;
    border-color: #e4e4e4;
}

.tags a {
    float: left;
    line-height: 24px;
    position: relative;
    font-size: 11px;
}

.wizardFoot .tags a.btn-blue {
    color: #fff;
    margin: 10px 10px 0 0;
}

.wizardFoot div:not(.tags) .btn-gray {
    padding: .4rem 1rem
}

.tags a {
    margin-left: 20px;
    padding: 0 10px 0 12px;
    background: #0089e0;
    color: #fff;
    text-decoration: none;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

.tags a.btn-gray {
    background: #e4e4e4;
}

.tags a:after {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #0089e0 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}

.tags a.btn-gray:after {
    border-color: transparent #f2f2f2 transparent transparent;
}

.wizardFoot .tags a.btn-blue:after {
    left: 54px;
    transform: rotate(180deg);
}