<!-- a simple div with some links -->

<!-- another version - flat style with animated hover effect -->

<div style="width: 100% " class="breadcrumb flat">
    <a style="width: 25%" [ngClass]="{'active':switch1class}">Step 1</a>
    <a style="width: 25%" [ngClass]="{'active':switch2class}">Step 2</a>
    <a style="width: 25%" [ngClass]="{'active':switch3class}">Step 3</a>
    <a style="width: 25%" [ngClass]="{'active':switch4class}">Step 4</a>
</div>
<progress-bar [value]="value1" [max]="100"></progress-bar>


<!-- Prefixfree -->

<!--First STep -->
<div *ngIf="switch1step" class="container">
    <div class="row " style="margin-left:30%;margin-top: 5% ">
        <input class="form-control col-sm-4" placeholder="Project Name">
    </div>
    <div class="fixedFoot row">
        <div class="col-lg-10">&nbsp;</div>
        <div class="col-lg-2">
            <button (click)="step1()" class="btn btn-primary form-control">Next</button>
        </div>
    </div>
</div>
<!-- First step End -->

<!--Second (1) STep -->
<div *ngIf="switch_part_1" class="container">
    <div *ngIf="step2_1">

        <div class="row">
            <h4>Live Local <span class="label label-default"></span></h4>
        </div>
        <div class="row">

            <div class="btn-group col-sm-4" dropdown>
                <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                   Dropdown <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="row">
            <h4>Live National <span class="label label-default"></span></h4>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input [(ngModel)]="selected1" [typeahead]="states" class="form-control">
            </div>
        </div>


        <div class="fixedFoot row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2"> <button (click)="step2_1_btn()" class="btn btn-primary form-control">Next</button></div>
        </div>
    </div>


    <!----step2 End-->

    <!----step3-->
    <div *ngIf="step2_2">

        <div class="row">
            <h3>Stream Free VOD <span class="label label-default"></span></h3>
        </div>

        <div class="row">
            <h4>Movies <span class="label label-default"></span></h4>
        </div>


        <div class="row">
            <div class="col-sm-4">
                <input [(ngModel)]="selected1" [typeahead]="states" class="form-control">
            </div>
        </div>
        <div class="row">
            <h4>Movies <span class="label label-default"></span></h4>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input [(ngModel)]="selected1" [typeahead]="states" class="form-control">
            </div>
            <div class="btn-group col-sm-6" dropdown>
                <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                           Dropdown <span class="caret"></span>
                        </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                    </li>
                </ul>

            </div>



        </div>


        <div class="fixedFoot row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2"><button (click)="step2_2_btn()" class="btn btn-primary form-control">Next</button></div>
        </div>
    </div>






    <div *ngIf="step2_3">
        <div class="row">
            <h4>Purchase Movies <span class="label label-default"></span></h4>
        </div>



        <div class="row">
            <div class="col-sm-6">
                <input [(ngModel)]="selected1" [typeahead]="states" class="form-control">
            </div>
        </div>






        <div class="fixedFoot row">

            <div class="col-lg-10"></div>
            <div class="col-lg-2"></div><button (click)="step2_3_btn()" class="btn btn-primary form-control">Next</button></div>
    </div>
</div>


<!--third STep End -->



<div *ngIf="step2_4">
    <div class="row">
        <h3>Stream Free VOD <span class="label label-default"></span></h3>
    </div>

    <div class="row">
        <h4>Movies <span class="label label-default"></span></h4>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <input [(ngModel)]="selected1" [typeahead]="states" class="form-control">
        </div>
    </div>
    <div class="row">
        <h4>Movies <span class="label label-default"></span></h4>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <input [(ngModel)]="selected1" [typeahead]="states" class="form-control">
        </div>
        <div class="btn-group col-sm-6" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                           Dropdown <span class="caret"></span>
                        </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                </li>
            </ul>

        </div>



    </div>


    <div style="" class="fixedFoot row">
        <button (click)="Cancel2()" class="btn btn-primary form-control col-sm-2">cancel</button>s
        <div class="col-sm-8"></div>
        <button (click)="step2()" class="btn btn-primary form-control col-sm-2">Next</button>
    </div>
</div>
</div>

<!--third STep End -->

<div *ngIf="step_3" class="container">
    <div>
        <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
    </div>
    <div class="fixedFoot row">
        <button (click)="step3_cancel()" class="btn btn-primary form-control col-sm-2">cancel</button>
        <div class="col-sm-8"></div>
        <button (click)="step3()" class="btn btn-primary form-control col-sm-2">Next</button>
    </div>
</div>


<!--third (1) STep -->



<div *ngIf="step_4" class="container">

    <div class="fixedFoot row">
        <button (click)="step4_cancel()" class="btn btn-primary form-control col-sm-2">cancel</button>
        <div class="col-sm-8"></div>
        <button (click)="step4()" class="btn btn-primary form-control col-sm-2">Next</button>
    </div>
</div>


<!--third STep End -->